.login-form{
    text-align: left;
    margin: auto;
    width: 30vw;
}

.footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: 25px;
    line-height: 3;
    width: 100%;
    background-color: #212529!important;
    color: white;
    text-align: center;
}
.footer p{
    margin: auto;
}

#bookList .card{
    display: none;
}